<div class="videos-container col-md-12 col-sm-12">
  <div class="row">
    <div *ngFor="let video of videos" class="videos-cards col-md-3 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="{{video.icone}}"></div>
          <mat-card-title id="titulo-card"><strong>{{video.titulo}}</strong></mat-card-title>
          <mat-card-subtitle>Cocoricó</mat-card-subtitle>
        </mat-card-header>
        <div>
          <iframe width="100%" height="200" [src]="corrigirUrlYoutube(video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <mat-card-content>
          <p>
            {{video.descricao}}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>