<div class="videos-container col-md-12 col-sm-12">
  <div id="header-videos" class="row">
    <div id="titulo" class="col-md-6 col-sm-12">
      <span>Episódios do Cocoricó</span>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-form-field class="tamanhoCampo">
        <input matInput (click)="filtro()" placeholder="Filtro de episódios" [(ngModel)]="episodioAtual" name="episodioSelecionado"
          (ngModelChange)="filtro()" aria-label="Linguagem" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="opcaoSelecionada($event)" #auto="matAutocomplete">
          <mat-option *ngFor="let video of videosFiltrados" [value]="video.titulo">
            <span>{{video.titulo}}</span>
            <small>&nbsp;&nbsp;&nbsp;<img id="small-icon" src="{{video.icone}}"></small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let video of videosFiltrados" class="videos-cards col-md-3 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="{{video.icone}}"></div>
          <mat-card-title id="titulo-card"><strong>{{video.titulo}}</strong></mat-card-title>
          <mat-card-subtitle>Cocoricó</mat-card-subtitle>
        </mat-card-header>
        <div>
          <iframe width="100%" height="200" [src]="corrigirUrlYoutube(video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <mat-card-content>
          <p>
            {{video.descricao}}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div [hidden]="episodioAtual !== ''">
    <mat-paginator [length]="videos.length" [pageSize]="10" (page)="paginar($event)">
    </mat-paginator>
  </div>
</div>