<div class="noticias">
  <div id="titulo" align="center" class="col-md-12 col-sm-12">
    <h5>Notícias</h5>
  </div>
  <div class="row">
    <div *ngFor="let noticia of noticias" class="col-md-6 col-sm-12">
      <mat-card id="center-align">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="avatar" src="assets/icones/julio.png">
          </div>
        </mat-card-header>
        <mat-card-title>{{noticia.titulo}}</mat-card-title>
        <mat-card-content>
          <p>
            {{noticia.descricao}}
          </p>
        </mat-card-content>
        <div name="imagem_noticia">
          <img class="img-noticia" src="{{noticia.imagem}}">
        </div>
        <div id="btn-lermais" align="center">
          <button mat-raised-button>Ler mais</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>