#center-align{
    text-align: center;
}
img{
    height: 94px;
    width: 100%;
}
.noticias{
    background:#F6F6F6;
}
#titulo{
    padding-top: 26px;
    color: #343434;
    font-weight: 700;
    font-size: 25px;
    font-family: Marker Felt,fantasy;
    text-transform: uppercase;
}