<div class="noticias">
  <div align="center" class="col-md-12 col-sm-12">
    <h5>Notícias</h5>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <mat-card> 
        <mat-card-content>
            <img src="assets/noticias/noticia1.jpg">
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-card id="center-align">
        <mat-card-title>Cocoricó</mat-card-title>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>