<div class="noticias">
  <div id="titulo" align="center" class="col-md-12 col-sm-12">
    <h5>Notícias</h5>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
        <mat-card id="center-align">
            <mat-card-title>Cocoricó</mat-card-title>
            <mat-card-content>
              <p>
                Novo show do Cocoricó.
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-card id="center-align">
        <mat-card-title>Cocoricó</mat-card-title>
        <mat-card-content>
          <p>
           Novos episódios chegando ai !!!!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>