<div class="sobre-container">
  <div id="titulo">
    <span>Sobre o Cocoricó</span>
  </div>
  <div id="tv-cultura" class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets/sobre/tv-cultura.jpg">
    </div>
    <div id="texto-tv-cultura" class="col-md-6 col-sm-12">
      <div>
          <span><strong>TV Cultura</strong> é uma rede de televisão pública brasileira sediada em <strong>São Paulo</strong>, capital do estado homônimo. Emissora de televisão pública e comercial de caráter educativo e cultural, foi fundada, originalmente, em 20 de setembro de 1960 pelos Diários Associados e reinaugurada em 15 de junho de 1969 pela Fundação Padre Anchieta, sediada na capital paulista, gerando programas de televisão educativos que são transmitidos para todo o Brasil via satélite e através de suas afiliadas e retransmissoras em diversas regiões do Brasil. É mantida pela Fundação Padre Anchieta, uma fundação sem fins lucrativos que recebe recursos públicos, através do governo do estado de São Paulo, e privados, através de propagandas, apoios culturais e doações de grandes corporações.</span>
      </div>
    </div>
  </div>
</div>