.sobre-container{
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
    background:#F6F6F6;
}
#titulo{
    color: #343434;
    font-weight: 700;
    font-size: 25px;
    font-family: Marker Felt,fantasy;
    text-transform: uppercase;
}