<div class="sobre-container">
  <div class="titulo">
    <span>Sobre o Cocoricó</span>
  </div>
  <div id="tv-cultura" class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets/sobre/tv-cultura.jpg">
    </div>
    <div id="texto-tv-cultura" class="col-md-6 col-sm-12">
        <div class="titulo">
            <span>TV Cultura</span>
          </div>
        <article>
          <span><strong>TV Cultura</strong> é uma rede de televisão pública brasileira sediada em <strong>São Paulo</strong>,
            capital do estado homônimo. Emissora de televisão pública e comercial de caráter <strong>educativo e cultural</strong>,
            foi fundada, originalmente, em 20 de setembro de 1960 pelos Diários Associados e reinaugurada em 15 de junho
            de 1969 pela <strong>Fundação Padre Anchieta</strong>, sediada na capital paulista, gerando programas de televisão
            educativos que são transmitidos para todo o Brasil via satélite e através de suas afiliadas e retransmissoras
            em diversas regiões do Brasil. É mantida pela Fundação Padre Anchieta, uma fundação sem fins lucrativos que recebe
            recursos públicos, através do governo do estado de São Paulo, e privados, através de propagandas, apoios culturais
            e doações de grandes corporações.</span>
        </article>
    </div>
  </div>
  <div id="cocorico-informacoes" class="row">
    <div id="texto-cocorico" class="col-md-6 col-sm-12">
        <div class="titulo">
            <span>O Cocoricó</span>
          </div>
        <article>
          <span>As histórias, direcionadas para crianças pré-escolares, se passam num paiol, proporcionando ao pequeno telespectador
            o primeiro contato com o ambiente rural. O programa conta com personagens vividos por bonecos, músicas compostas
            por Hélio Ziskind e com muita cor, alegria e leveza, abordando temas de moral, ética e conhecimento. O menino
            Júlio, as divertidas galinhas Lola, Lilica e Zazá, o cavalo, a vaca, o morcego e o porco, entre outros bichos
            do paiol, estrelam, além das histórias, clipes musicais. Todos os valores discutidos desenvolvem a integração
            social na comunidade, reforço das atitudes positivas e melhor relacionamento consigo e com os outros, auxiliando
            o crescimento intelectual e comunicativo das crianças. Premiado no Brasil e no exterior pela crítica especializada,
            o programa tem como maior indicador de qualidade a aprovação de quem mais importa: as crianças. Qualidade representada
            pelos 8 anos de transmissão pela TV Cultura que agora disponibiliza sua programação em DVD’s. </span>
        </article>
    </div>
    <div class="col-md-6 col-sm-12">
      <img id="imagem-cocorico" src="assets/sobre/julio.jpg">
    </div>
  </div>
  <div class="col-md-12 col-sm-12" id="linha-tempo">
      <div class="titulo">
          <span>Linha do Tempo</span>
        </div>
      <img src="assets/sobre/cocorico-sobre.png">
    </div>
</div>