<div class="musicas-container">
  <mat-accordion>
    <mat-expansion-panel align="center" *ngFor="let musica of musicas" (opened)="panelOpenState = true" (closed)="panelOpenState = false" align="center">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="{{musica.icone}}"> {{musica.titulo}}
        </mat-panel-title>
        <mat-panel-description>
          {{musica.descricao}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br/>
      <br/>
       <div class="row">
        <div class="col-md-4 col-sm-12" id="content-video">
          <iframe width="100%" height="200" [src]="musica.safeUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
       <div class="col-md-6 col-sm-12">
        <article [innerHTML]="musica.musica">
        </article>
       </div> 
       </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>