#content-video{
    width: 50%;
}
.musicas-container{
    background: #F6F6F6;
}
@media only screen and (max-width: 900px) {
    #content-video{
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    mat-panel-description{
        display: none;
    }
    img{
        width: 20%;
        border-radius: 50%;
        height: 30px;
    }
}

img{
    width: 5%;
    border-radius: 50%;
    height: 30px;
}
#header-musicas{
    padding-top: 72px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: #F6F6F6;
}
#titulo{
    color: #343434;
    font-weight: 700;
    font-size: 25px;
    font-family: Marker Felt,fantasy;
    text-transform: uppercase;
}
.tamanhoCampo{
    width: 75%;
}