<div id="header-musicas" class="row">
  <div id="titulo" class="col-md-6 col-sm-12">
    <span>Músicas do Cocoricó</span>
  </div>
  <div class="col-md-6 col-sm-12">
    <mat-form-field class="tamanhoCampo">
      <input matInput (click)="filtro()" placeholder="Filtro de músicas" [(ngModel)]="musicaAtual" name="musicaSelecionada"
        (ngModelChange)="filtro()" aria-label="Linguagem" [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="opcaoSelecionada($event)" #auto="matAutocomplete">
        <mat-option *ngFor="let musica of musicas" [value]="musica.titulo">
          <span>{{musica.titulo}}</span>
          <small>&nbsp;&nbsp;&nbsp;<img id="small-icon" src="{{musica.icone}}"></small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<div class="musicas-container">
  <mat-accordion>
    <mat-expansion-panel align="center" *ngFor="let musica of musicasFiltradas" (opened)="selecionarMusica(musica); panelOpenState = true" (closed)="desmarcarMusica(musica);panelOpenState = false" align="center">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="{{musica.icone}}"> {{musica.titulo}}
        </mat-panel-title>
        <mat-panel-description>
          {{musica.descricao}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br/>
      <br/>
       <div *ngIf="musica.selected" class="row">
        <div class="col-md-4 col-sm-12" id="content-video">
          <iframe width="100%" height="200" [src]="musica.safeUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
       <div class="col-md-6 col-sm-12">
        <article [innerHTML]="musica.musica">
        </article>
       </div> 
       </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div [hidden]="musicaAtual !== ''">
  <mat-paginator [length]="musicas.length" [pageSize]="7" (page)="paginar($event)">
  </mat-paginator>
</div>