.musicas-container{
    padding-top: 72px;
}
#content-video{
    width: 50%;
    left: 45%;
    position: relative;
    margin-left: -250px;
}
@media only screen and (max-width: 900px) {
    #content-video{
        width: 100%;
        left: 0%;
        margin-left: 0px;
    }
}
img{
    width: 6%;
    border-radius: 50%;
    height: 23px;
}