:host /deep/ .mat-tab-body-content{
    display: none !important;
}
.imagem-personagens{
    width: 50%;
}
@media only screen and (max-width: 600px){
    .imagem-personagens {
        width: 73%;
    }
}
.nomePersonagem{
    margin-left: 10px;
    color: #FFC107;;
    font-weight: bold;
    text-shadow: 0 0 0.1px rgb(7, 7, 7);
}
.tab{
    background-image: url('../../../assets/madeira.jpg');
}