<mat-toolbar class="fixed">
  <mat-toolbar-row>
    <div (click)="router.navigate(['home'])" id="logo">
      <img src="assets/logo-cocorico.png">
    </div>
    <div class="espaco">
      <ul>
        <li (click)="router.navigate(['episodios'])"><span class="itens-navbar">EPISÓDIOS</span></li>
        <li (click)="router.navigate(['musicas'])"><span class="itens-navbar">MÚSICAS</span></li>
        <li (click)="router.navigate(['sobre'])"><span class="itens-navbar">SOBRE</span></li>
      </ul>
    </div>
    <div class="icones-responsividade">
      <ul>
        <li (click)="router.navigate(['episodios'])"><img src="assets/icones/videos.png"></li>
        <li (click)="router.navigate(['musicas'])"><img src="assets/icones/musicas.png"></li>
        <li (click)="router.navigate(['sobre'])" id="informacoes-icon"><img src="assets/icones/informacoes.png"></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>