.fixed{
    background: #28a745;
    position: fixed;
    z-index: 10000;
}
img{
    height: 50px;
}

.itens-navbar{
    position: relative;
    padding: 7px;
    display: inline-block;
}
.itens-navbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.itens-navbar:hover:before{
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        border-top-color: #e74c3c;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #e74c3c;
        border-right-color: #e74c3c;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: #e74c3c;
        border-right-color: #e74c3c;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.itens-navbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.itens-navbar:hover:after{
    animation: animate2 1s linear forwards;
}
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #e74c3c;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #e74c3c;
        border-left-color: #e74c3c;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #e74c3c;
        border-left-color: #e74c3c;
    }
}
.itens-navbar{
    color: rgb(232, 248, 4);
}
.espaco{
    margin-left: 250px;
}
li{
    padding-left: 18px;
}
ul{
    display: -webkit-inline-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}
#logo{
    cursor: pointer;
}
@media only screen and (max-width: 750px) {
    .espaco{
        display: none;
    }
    .icones-responsividade {
        display: block !important;
    }
    img{
        height: 36px;
    }
}
.icones-responsividade{
    display: none;
    cursor: pointer;
}
