<mat-toolbar class="fixed">
  <mat-toolbar-row>
    <div (click)="router.navigate(['home'])" id="logo">
      <img src="assets/logo-cocorico.png">
    </div>
    <div class="espaco">
      <ul>
        <li (click)="router.navigate(['episodios'])"><div class="itens-navbar"><span>EPISÓDIOS</span></div></li>
        <li (click)="router.navigate(['musicas'])"><div class="itens-navbar"><span>MÚSICAS</span></div></li>
        <li (click)="router.navigate(['sobre'])"><div class="itens-navbar"><span>SOBRE</span></div></li>
      </ul>
    </div>
    <div class="icones-responsividade">
      <ul>
        <li (click)="router.navigate(['episodios'])"><img src="assets/icones/videos.png"></li>
        <li (click)="router.navigate(['musicas'])"><img src="assets/icones/musicas.png"></li>
        <li (click)="router.navigate(['sobre'])" id="informacoes-icon"><img src="assets/icones/informacoes.png"></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>