.fixed{
    background: #28a745;
    position: fixed;
    z-index: 10000;
}
img{
    height: 50px;
}
.itens-navbar:hover{
    font-size: 18px;
    color: white;
    background: transparent;
    border: solid 2px;
    border-color: white;
    padding:10px;
    cursor: pointer;
   
}
.itens-navbar{
    color: rgb(232, 248, 4);
}
.espaco{
    margin-left: 250px;
}
li{
    padding-left: 18px;
}
ul{
    display: -webkit-inline-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}
#logo{
    cursor: pointer;
}
@media only screen and (max-width: 750px) {
    .espaco{
        display: none;
    }
    .icones-responsividade {
        display: block !important;
    }
    img{
        height: 36px;
    }
}
.icones-responsividade{
    display: none;
    cursor: pointer;
}
