<div class="footer">
  <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="textos-footer col-md-6 mt-md-0 mt-3">
          <a routerLink="/home">
            <img src="assets/logo-cocorico.png">
          </a>
          <p>TV Cultura.</p>
          <p>Fundação Padre Anchieta.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="textos-footer col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="/musicas">Músicas</a>
            </li>
            <li>
              <a routerLink="/episodios">Epísodios</a>
            </li>
            <li>
              <a>Notícias</a>
            </li>
            <li>
              <a routerLink="/sobre">Sobre</a>
            </li>
          </ul>

        </div>
        <div class="textos-footer col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">TV CULTURA</h5>
          <a href="http://tvcultura.com.br/">
            <img id="logo-cocorico" src="assets/noticias/tvcultura.png">
          </a>
        </div>
      </div>
    </div>
    <div class="textos-footer footer-copyright text-center py-3">Todos os Direitos Reservados<a id="tv-cultura-link" href="http://tvcultura.com.br/">
      TV CULTURA.</a>
    </div>
  </footer>
</div>