<div class="footer">
        <footer class="page-footer font-small blue pt-4">
              <div class="container-fluid text-center text-md-left">
                <div class="row">
                  <div class="textos-footer col-md-6 mt-md-0 mt-3">
                    <img src="assets/logo-cocorico.png">
                    <p>TV Cultura.</p>
                    <p>Fundação Padre Anchieta.</p>
                  </div>
                  <hr class="clearfix w-100 d-md-none pb-3">
                  <div class="textos-footer col-md-3 mb-md-0 mb-3">
                      <h5 class="text-uppercase">Links</h5>
          
                      <ul class="list-unstyled">
                        <li>
                          <a>Alterar</a>
                        </li>
                        <li>
                          <a>Alterar</a>
                        </li>
                        <li>
                          <a>Alterar</a>
                        </li>
                        <li>
                          <a>Alterar</a>
                        </li>
                      </ul>
          
                    </div>
                    <div class="textos-footer col-md-3 mb-md-0 mb-3">
                      <h5 class="text-uppercase">LINKS</h5>
          
                      <ul class="list-unstyled">
                        <li>
                          <a>Alterar</a>
                        </li>
                        <li>
                          <a>Alterar</a>
                        </li>
                        <li>
                          <a>Alterar</a>
                        </li>
                        <li>
                          <a>Alterar</a>
                        </li>
                      </ul>
          
                    </div>   
                </div>   
              </div>
              <div class="textos-footer footer-copyright text-center py-3">Todos os Direitos Reservados<a href="http://tvcultura.com.br/"> TV Cultura</a>
              </div>  
            </footer>
      </div>
      