.footer{
    background: #28a745;
}
img{
    height: 80px;
    width: 50%;
}
.textos-footer{
    color: white;
}
#tv-cultura-link{
    color: white;
    font-weight: bold;
}
#tv-cultura-link:hover{
    transition: 1s;
    font-size:20px;
    color: rgb(232, 248, 4);
}
a{
    color: white;
}